/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.App .App-header {
  background-color: #222;
  height: 186px;
  padding: 20px;
  color: #fff;
  display: block;
}

nav {
  border: 1px solid rgb(2, 62, 119);
  align-self: center;
  margin: 30px;
  background-color: rgb(192, 207, 255);
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  margin: 0px 0px 0px 0px;
}

h3 {
 font-size: 30px;
}

.main {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ol {
  padding: 0;
  width: 100%;
  margin: 0;
}

#add{
  color: green;
  font-size: 1.2em;
  font-weight: bold;
}

#remove {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

ol li {
  cursor: pointer;
  width: 250px;
  text-align: left;
  list-style: none;
  margin: 7px 0;
  padding: 10px;
}

ol li:nth-child(odd) {
  background: #f9f9f9;
}

ol li:nth-child(2n) {
  background: #efefef;
}

.Footer {
  font-weight: bold;
  color: ivory;
  font-size: 30px;
  height: 50px;
  background-color: #222;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Footer span {
  margin-left: 10px;
}

.clearButton {
  position: absolute;
  margin: 20px 0px 0px 100px ;
  background-image: url('https://www.iconsdb.com/icons/preview/color/FF9696/trash-10-xxl.png');
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.clearButton:hover {
  background-image: url('https://www.iconsdb.com/icons/preview/red/trash-10-xxl.png');
}
